@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }

  :root {
    --main-title-color: #ffffff;
    --titles-with-prgh-color: #2e2f42;
    --title-web-logo: #4d5ae5;
    --title-hover-color: #404bbf;
    --paragrapgh-with-titles-color: #434455;
    --studio-logo-color: #f4f4fd;
    --footer-para-color: #e7e9fc;
  }

  .container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* header */
  .header {
    border-bottom: 1px solid var(--footer-para-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .header-navigation {
    display: flex;
    align-items: center;
  }

  .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--titles-with-prgh-color);
    margin-right: 76px;
    padding: 24px 0;
  }

  .logo-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-web-logo);
    padding: 24px 0;
  }

  .header-list {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .header-link {
    text-transform: none;
    font-weight: 500;
    color: var(--titles-with-prgh-color);
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link:hover,
  .header-link:focus {
    color: var(--title-hover-color);
  }

  .header-link.active {
    color: var(--title-hover-color);
  }

  .header-link.active::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--title-hover-color);
    position: absolute;
    border-radius: 2px;
    left: 0;
    bottom: 0;
  }

  .header-address {
    margin-left: auto;
  }
  .header-contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header-mail {
    font-style: normal;
    color: var(--paragrapgh-with-titles-color);
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-mail:hover,
  .header-mail:focus {
    color: var(--title-hover-color);
  }

  .header-tel {
    font-style: normal;
    color: var(--paragrapgh-with-titles-color);
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-tel:hover,
  .header-tel:focus {
    color: var(--title-hover-color);
  }
  /* hero */

  .hero-section {
    background-color: var(--titles-with-prgh-color);
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    margin: 0 auto;
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2ddpx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office-px.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    color: var(--main-title-color);
    letter-spacing: 0.02em;
    width: 496px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
  }

  .hero-btn {
    display: block;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--main-title-color);
    background: var(--title-web-logo);
    cursor: pointer;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: auto;
    border: transparent;
    margin-left: auto;
    margin-right: auto;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hero-btn:hover,
  .hero-btn:focus {
    background: var(--title-hover-color);
  }
  /* adv section */

  .section-advantages {
    padding: 120px 0;
  }

  .item-advantages {
    width: 264px;
  }

  .item-advantages:before {
    display: block;
    content: '';
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--studio-logo-color);
    margin-bottom: 8px;
    border-radius: 4px;
  }

  .item-advantages.icon-antenna::before {
    background-image: url(../images/antenna.svg);
    background-size: 64px;
  }

  .item-advantages.icon-clock::before {
    background-image: url(../images/clock.svg);
    background-size: 64px;
  }

  .item-advantages.icon-diagram::before {
    background-image: url(../images/diagram.svg);
    background-size: 64px;
  }

  .item-advantages.icon-astronaut::before {
    background-image: url(../images/astronaut.svg);
    background-size: 64px;
  }

  .list-advantages {
    display: flex;
    gap: 24px;
  }

  .item-advantages {
    width: 264px;
  }

  .advantages-point {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--titles-with-prgh-color);
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }

  .advantages-paragraph {
    color: var(--paragrapgh-with-titles-color);
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }

  /* example section */
  @media screen and (min-width: 1200px) {
    .example {
      display: flex;
      padding-bottom: 120px;
      padding-top: 0;
    }
  }

  /* team */

  .team {
    background: var(--studio-logo-color);
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-title {
    font-size: 36px;
    line-height: 1.1;
    text-transform: capitalize;
    color: var(--titles-with-prgh-color);
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
  }
  .team-list {
    display: flex;
    gap: 24px;
  }
  .team-item {
    background-color: var(--main-title-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    width: 264px;
    padding-bottom: 32px;
  }
  .team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--titles-with-prgh-color);
    letter-spacing: 0.02em;
    margin-top: 32px;
    text-align: center;
    margin-bottom: 8px;
  }
  .team-profession {
    font-size: 16px;
    color: var(--paragrapgh-with-titles-color);
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
  }

  .team-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .team-social-item {
    width: 40px;
    height: 40px;
  }
  .team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--title-web-logo);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .team-social-link:hover,
  .team-social-link:focus {
    background-color: var(--title-hover-color);
  }

  .team-social-icon {
    width: 16px;
    height: 16px;
  }

  /* customers */

  .customers {
    padding-top: 130px;
    padding-bottom: 120px;
  }
  .title-customers {
    font-size: 36px;
    line-height: 1.1;
    text-transform: capitalize;
    color: var(--titles-with-prgh-color);
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
  }
  .customers-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .customers-item {
    width: 168px;
    height: 88px;
  }
  .customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    color: #8e8f99;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .customers-link:hover,
  .customers-link:focus {
    color: var(--title-hover-color);
    border-color: var(--title-hover-color);
  }

  .customers-social-icon {
    fill: currentColor;
  }

  .footer {
    background: var(--titles-with-prgh-color);
    padding: 100px 0;
  }

  .logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--studio-logo-color);
  }

  .logo-studio-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-web-logo);
  }

  .footer-paragraph {
    color: var(--footer-para-color);
    letter-spacing: 0.02em;
    margin-top: 16px;
    width: 264px;
  }

  .footer-container {
    display: flex;
  }

  .footer-header-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    margin-bottom: 16px;
  }
  .footer-social {
    margin-left: 120px;
  }
  .footer-social-list {
    display: flex;
    gap: 16px;
  }

  .footer-social-item {
    width: 40px;
    height: 40px;
  }
  .footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-social-link:hover,
  .footer-social-link:focus {
    background: #31d0aa;
  }

  .team-social-icon-footer {
    width: 24px;
    height: 24px;
  }

  .subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-form-text {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
  }

  .footer-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--main-title-color);
    background: var(--title-web-logo);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: auto;
    border: transparent;
    margin-left: 24px;
    margin-right: auto;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 24px;
    display: flex;
    text-align: center;
    align-items: center;
  }

  .footer-button:hover,
  .footer-button:focus {
    background-color: var(--title-hover-color);
    border-color: var(--title-hover-color);
  }

  .sub-input {
    background-color: var(--titles-with-prgh-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: transparent;
    transition: color 0.35s cubic-bezier(0.4, 0, 0.2, 1),
      background 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
  }

  .subscribe-icon {
    margin-left: 16px;
  }

  .sub-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  .sub-form-wrap {
    margin-left: auto;
  }
}
