:root {
  --main-title-color: #ffffff;
  --titles-with-prgh-color: #2e2f42;
  --title-web-logo: #4d5ae5;
  --title-hover-color: #404bbf;
  --paragrapgh-with-titles-color: #434455;
  --studio-logo-color: #f4f4fd;
  --footer-para-color: #e7e9fc;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-title-color);
  color: var(--paragrapgh-with-titles-color);
  font-size: 16px;
  line-height: 1.5;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.btn {
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
}

/* header */
.header {
  border-bottom: 1px solid var(--footer-para-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--titles-with-prgh-color);
  margin-right: 76px;
  padding: 24px 0;
}

.logo-studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-web-logo);
  padding: 24px 0;
}

.header-list {
  display: none;
  gap: 40px;
  align-items: center;
}

.header-link {
  text-transform: none;
  font-weight: 500;
  color: var(--titles-with-prgh-color);
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--title-hover-color);
}

.header-link.active {
  color: var(--title-hover-color);
}

.header-link.active::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--title-hover-color);
  position: absolute;
  border-radius: 2px;
  left: 0;
  bottom: 0;
}

.header-address {
  margin-left: auto;
}
.header-contacts-list {
  display: none;
  align-items: center;
  gap: 40px;
}
.header-mail {
  font-style: normal;
  color: var(--paragrapgh-with-titles-color);
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--title-hover-color);
}

.header-tel {
  font-style: normal;
  color: var(--paragrapgh-with-titles-color);
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--title-hover-color);
}
/* /header */

/* hero */

.hero-section {
  background-color: var(--titles-with-prgh-color);
  text-align: center;
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/mob-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2ddpx) {
  .hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/mobile-bg-px.jpg);
  }
}
.hero-title {
  font-size: 36px;
  line-height: 1.11;
  color: var(--main-title-color);
  letter-spacing: 0.02em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
  text-align: center;
}

.hero-btn {
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-title-color);
  background: var(--title-web-logo);
  cursor: pointer;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: auto;
  border: transparent;
  margin-left: auto;
  margin-right: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--title-hover-color);
}

/* /hero */

/* section 1 */

.section-advantages {
  padding: 96px 0;
}

.list-advantages {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.item-advantages {
  width: 100%;
}
.advantages-point {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--titles-with-prgh-color);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-transform: capitalize;
}
.advantages-paragraph {
  color: var(--paragrapgh-with-titles-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

/* /section 1 */

/* section 2 */

.example {
  display: none;
  padding-bottom: 120px;
}

.example-title {
  font-size: 36px;
  line-height: 1.1;
  text-transform: capitalize;
  color: var(--titles-with-prgh-color);
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}
.example-list {
  display: flex;
  gap: 24px;
}
.example-item {
  width: 360px;
}

/* /section 2 */

/* section 3 */

.team {
  background: var(--studio-logo-color);
  padding-top: 96px;
  padding-bottom: 96px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-transform: capitalize;
  color: var(--titles-with-prgh-color);
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  text-align: center;
  justify-content: center;
}
.team-item {
  background-color: var(--main-title-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  width: 264px;
  padding-bottom: 32px;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--titles-with-prgh-color);
  letter-spacing: 0.02em;
  margin-top: 32px;
  text-align: center;
  margin-bottom: 8px;
}
.team-profession {
  font-size: 16px;
  color: var(--paragrapgh-with-titles-color);
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-item {
  width: 40px;
  height: 40px;
}
.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--title-web-logo);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--title-hover-color);
}

.team-social-icon {
  width: 16px;
  height: 16px;
}

/* /section 3 */

/* section 4 */

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}
.title-customers {
  color: var(--titles-with-prgh-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: auto;
}
.customers-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 88px;
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  color: var(--title-hover-color);
  border-color: var(--title-hover-color);
}

.customers-social-icon {
  fill: currentColor;
}

/* footer */

.footer {
  background: var(--titles-with-prgh-color);
  padding: 100px 0;
}

.footer-display {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--studio-logo-color);
}

.logo-studio-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-web-logo);
}

.footer-paragraph {
  color: var(--footer-para-color);
  letter-spacing: 0.02em;
  margin-top: 16px;
  width: 264px;
}

.footer-header-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-bottom: 16px;
}
.footer-social {
  margin-left: 120px;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background: #31d0aa;
}

.team-social-icon-footer {
  width: 24px;
  height: 24px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-form-text {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.footer-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-title-color);
  background: var(--title-web-logo);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: auto;
  border: transparent;
  margin-left: 24px;
  margin-right: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 24px;
  display: flex;
  text-align: center;
  align-items: center;
}

.footer-button:hover,
.footer-button:focus {
  background-color: var(--title-hover-color);
  border-color: var(--title-hover-color);
}

.sub-input {
  background-color: var(--titles-with-prgh-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
  transition: color 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    background 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
}

.subscribe-icon {
  margin-left: 16px;
}

.sub-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.sub-form-wrap {
  margin-left: auto;
}
/* /footer */

/* portfolio btns */

.projects {
  padding-top: 96px;
  padding-bottom: 120px;
}

.list-filter {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.item-filter {
  margin-bottom: 72px;
}
.filter-btn {
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--title-web-logo);
  background-color: var(--studio-logo-color);
  border: 1px solid var(--footer-para-color);
  border-radius: 4px;
  padding: 12px 24px;
  transition: color 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    background 0.35s cubic-bezier(0.4, 0, 0.2, 1), border 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover,
.filter-btn:focus {
  background: var(--title-hover-color);
  color: var(--main-title-color);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.projects-items {
  flex-basis: calc((100% - 48px) / 3);
}

.link:hover .project-overlay-paragraph,
.lnik:focus .project-overlay-paragraph {
  transform: translateY(0);
}

.img-padding {
  border: 1px solid var(--footer-para-color);
  border-top: none;
  padding: 32px 16px;
}
.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--titles-with-prgh-color);
  letter-spacing: 0.02em;
}
.project-paragraph {
  color: var(--paragrapgh-with-titles-color);
  letter-spacing: 0.02em;
  margin: 8px 0px;
}

.project-shadow {
  display: block;
  transition: box-shadow 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.project-shadow:hover,
.project-shadow:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.projects-top-wrap {
  position: relative;
  overflow: hidden;
}

.project-overlay-paragraph {
  color: var(--studio-logo-color);
  background-color: var(--title-web-logo);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  width: 408px;
  min-height: 576px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 72px;
  padding-bottom: 24px;
}
.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  background: var(--footer-para-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: color 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    background 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
  width: 24px;
  height: 24px;
  position: absolute;
}

.modal-icon:hover,
.modal-icon:focus {
  fill: var(--main-title-color);
}

.modal-close:hover,
.modal-close:focus {
  color: var(--main-title-color);
  background-color: var(--title-hover-color);
  fill: var(--main-title-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--titles-with-prgh-color);
  text-align: center;
  margin: 0 0 16px 0;
}

.form-label span {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: #8e8f99;
  margin-bottom: 4px;
}

.form-input {
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  border-color: rgba(33, 33, 33, 0.2);
  width: 100%;
  height: 40px;
  outline: transparent;
  transition: border-color 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 38px;
}

.form-input:focus {
  border-color: var(--title-hover-color);
}

.form-input:focus + .form-icon {
  fill: var(--title-web-logo);
}

.form-control {
  position: relative;
}

.form-group {
  display: block;
}

.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  border-color: rgba(33, 33, 33, 0.2);
  width: 100%;
  min-height: 120px;
  outline: transparent;
  transition: color 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    border-color 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 16px;
  display: block;
}

.form-textarea:focus {
  border-color: var(--title-web-logo);
}

.send-btn {
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-title-color);
  background: var(--title-web-logo);
  cursor: pointer;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 24px;
  border: transparent;
  margin-left: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 169px;
}

.send-btn:hover,
.send-btn:focus {
  background: var(--title-hover-color);
}

.privacy-link {
  color: var(--title-web-logo);
  text-decoration-color: var(--title-web-logo);
}

.form-label-checkbox {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  color: #757575;
}

.form-label-checkbox::before {
  content: '';
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--titles-with-prgh-color);
  border-radius: 2px;
  box-sizing: border-box;
  margin-right: 8px;
}

.form-checkbox:checked + .form-label-checkbox::before {
  color: var(--main-title-color);
  background-color: var(--title-hover-color);
  border-color: var(--main-title-color);
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
